body {
  min-height: 100vh;
  background-color: rgb(121, 152, 194);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.counter-box {
  flex: 0 70%;
  text-align: center;
  border: 3px solid gray;
  padding: 1rem;
  font-weight: bold;
  box-shadow: 0px 0px 25px black;
  background-color: white;
}
.counter {
  font-size: 6rem;
}
.btn {
  background: white;
  border-radius: 8px;
  font-size: 2rem;
  padding: 05rem;
  margin: 0.5rem 0.25rem;
  border: 3px solid black;
  box-shadow: 0px 0px 5px black;
  outline: none;
  height: 50%;
  width: auto;
}
.btn:hover {
  background-color: rgb(60, 160, 60);
  color: white;
}
.btn:active {
  box-shadow: none;
}
